<h1>Project Management</h1>
<br/>
<h3>To do List:</h3>
<ol>
<li> build a project List page - DONE</li>
<li> link to project list page - DONE</li>
<li> build a crud to add new Projects - DONE </li>
<li> build sign in pages so that only I can edit </li>
<li> Add a new page (dropdown) such that I can see all projects or just my projects </li>
<li> edit the crud projects such that I can change them based on status </li>
<li> website design 
  <ul>
    <li> make it such that each project links to the github page </li>
    <li> create an edit button on the project list </li>
    <li> put backgrounds and themes</li>
  </ul>
</li>

</ol>
